.print {
    position: relative;
    float: right;
}
.print i {
    cursor: pointer;
}
.curriculum {
    padding: 5em;
    width: auto;
}

@media only screen and (max-width: 600px) {
    .curriculum {
        padding: 1em;
    }
}
