.header {
    position: relative;
    float: left;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    position: relative;
    float: left;
    width: 100%;
    height: 25vh;
}

/* =============================== */
/* HEADER */
/* =============================== */

.header > h1,
.header > h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    text-align: center;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.2em; /* Adjust as needed */
}


/* =============================== */
/* BUTTONS */
/* =============================== */

.buttons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttons ul li {
    flex-grow: 1;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.buttons ul li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: inherit;
    text-align: center;
    animation: text-blur-out 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2s reverse;
}

.buttons ul li a label {
    cursor: pointer;
}
.buttons ul li:hover {
    background-color: white;
    color: black;
}
