<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="/assets/images/curriculum-favicon.ico"
    />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/css/curriculum.css" />
    <link rel="stylesheet" href="/assets/css/personal.css" />
    <link rel="stylesheet" href="/assets/css/career-summary.css" />
    <link rel="stylesheet" href="/assets/css/experience.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% assign item = site.data.curriculum %}
    <h1>{{ item.name | upcase }}</h1>
    {% include personal.html %} 
    {% assign item = site.data.curriculum %}
    <h2>{{ item.career_summary | upcase }}</h2>
    {% include career-summary.html %} 
    {% assign item = site.data.curriculum %}
    <h2>{{ item.experience | upcase }}</h2>
    {% include experience.html %}
  </body>
</html>
